@keyframes girafe {
  from{
    background-position-x: 15rem;
  }
  50% {
    background-position-x: 10rem;
  }
  to{
    background-position-x: 15rem;
  }
}

@keyframes Title {
  0% {
    transform: translate(-150%,0);

  }
  100% {
    transform: translate(0,0);
  
  }
}

@keyframes bras {
  0% {
    top: -28%;
    left: -25%;
  }
  100% {
    top: -10%;
    left: 0;
  }
}
@keyframes bras-2 {
  0% {
    transform: rotate(10deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg);
  }
  75%{
    transform: rotate(-10deg);
    bottom: -1% ;
  }
  100% {
    transform: rotate(0deg);
    bottom: -5% ;
  }
}
