/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: var(--texte);
  font-weight: 100;
}
.barre{
  height: 30rem;
  width: auto;
}

:root{
--texte:#FF0068;
}

* {
  box-sizing: border-box;
} //> bonne pratique ;)

body {
  font-family: $font;
  display: flex;
  flex-direction: column;
  color: $grey;
}

img {
  max-width: 100%;
  height: auto; //> bonne pratique
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
}
section {
  margin-bottom: 10%;
}
/* Header  */
header {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
header img {
  width: 150px;
}

/* Home  */
.Home {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.Home__div1 {
  width: 3%;
}
.Home__div1 > div {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Home__div1 > div > div {
  width: 100%;
}
.Home__div1 > div > div p {
  transform: rotate(-90deg);
  font-family: "Raleway";
  color: var(--texte);
  white-space: nowrap;
  margin-bottom: 45px;
  font-weight: 600;
}
.Home__div1 > div img {
  width: 30px;
  justify-content: center;
  padding: 8%;
  margin-bottom: 15px;
}

.Home__div2 {
  overflow: hidden;
  width: 94%;
  position: relative;
}
.titre_home{
  position: absolute;
  text-transform: uppercase;
  color: black;
  font-size: 7rem;
  width: 43.8rem;
  top: 0;
  bottom: 0;
  left: 10rem;
  display: flex;
  margin: 0;
  align-items: center;
}
.Home__div2 img {
  width: 100%;
  height: 100%;
}

#girafe2{
  z-index: 1;
  background-image: url("/assets/images/giraffe2.png");
  background-size: 35rem;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  width: 40rem ;
  height: 30rem;
  top: 17.5%;
  right: 0;
  animation-duration: 9s;
  animation-name: girafe;
  animation-iteration-count: infinite;
  transform: translate3d(0,0,0);
}

#girafe{
  background-position: bottom;
  z-index: 1;
  background-image: url(/assets/images/giraffe.png);
  -moz-background-size: 30rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 22%;
  height: 85%;
  bottom: 0;
  right: 30rem;
}

/*  Bouee  */
.Bouee {
  display: flex;
  max-width: 150rem;
  width: 90%;
  margin: auto;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 15%;
  align-items: center;
}
.Bouee__img {
  width: 50%;
}
.Bouee__text {
  width: 50%;
}
.Bouee__text h1{
  font-size: 4rem;
  margin-bottom: 6rem;
}
.Bouee__text > div {
  font-size: 2rem;
  width: 80%;
  margin-right: 20%;
  position: relative;
}
.Bouee__text iframe{
  top: 1rem;
  right: 102%;
  width: 10%;
  height: 10%;
  position: absolute;
}
.Bouee__text > div p:nth-child(2n+1){
  margin-bottom: 5rem;
}
.Bouee__text a{
  background-color: var(--texte);
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 1rem;
  color: white;
}
.Bouee__img img {
  width: 100%;
}

/*  lights  */
.Lights {
  display: flex;
  max-width: 150rem;
  width: 90%;
  margin: auto;
  margin-bottom: 7.5%;
  height: auto;
  flex-wrap: wrap;
}
.Lights__img {
  width: 50%;
}
.Lights__text a{
  background-color: var(--texte);
  border-radius: 1rem;
  color: white;
  display: inline-block;
  margin-top: 5rem;
  padding: 1rem 3rem 1rem 1rem;
}
.Lights__text {
  text-align: right;
  width: 50%;
}
.Lights__text h1{
  font-size: 4rem;
  margin-bottom: 6rem;
  margin-top: 0;
}
.Lights__text  div {
  font-size: 2rem;
  margin-left: 20%;
}
.Lights__text  div > p{
  margin-left: auto;
  text-align: end;
}

.Lights__text  div > button{
  background-color: #FF0068;
  cursor: pointer;
  color: white;
  border: none;
  padding: 8px;
  margin-left: 200px;
}
#Lights__text_span {
  margin-left: 45px;
}
.Lights__img img {
  width: 100%;
}

/* Grid */
.Choix {
  display: flex;
  max-width: 150rem;
  margin: auto;
  height: auto;
  flex-wrap: wrap;
}
.Grid__text {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.Grid__text h1{
  text-align: center;
  font-size: 4rem;
  margin: 0;
}
.Grid__choix {
  display: flex;
  width: 115.39rem;
  margin: auto;
  justify-content: space-between;
}
.Grid__choix a:hover img{
  transform: scale(1.25);
}
.Grid__choix > div {
  width: 37.5rem;
  height: 55rem;
  overflow: hidden;
  position: relative;
}
.Grid__choix > div img {
  max-width: none;
  height: 100%;
  margin-left: -7rem;
  transition: all 1s;
  transform-origin: center;
}
.Grid__choix div p {
  right: 39%;
  text-align: left;
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  bottom: 1rem;
  color: aliceblue;
  left: 1rem;
  text-transform: uppercase;
}
.Grid__choix div span {
  position: absolute;
  display: flex;
  top: 20px;
  width: 100%;
}

.Grid__choix div h1 {
  z-index: 1;
  position: absolute;
  display: block;
  color: aliceblue;
  text-transform: uppercase;
  transform: rotate(-90deg);
  width: 37.5rem;
  font-size: 4rem;
}
.Grid__titre1 {
  top: 50px;
}
.Grid__titre2 {
  top: 88px;
}
.Grid__titre3 {
  top: 105px;
}
/* Before Contact */
.Before_contact {
  color: var(--texte);
}

.Before_contact > div {
  display: flex;
  margin-left: 8%;
  margin-top: 8%;
}

.Before_contact_div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 59.6rem;
}
.Before_contact_div2 iframe{
  width: 9%;
  height: 38%;
  margin-right: 3rem;
}
iframe{
  border: none;
}
.Before_contact_div2 p {
  margin: 4rem;
  font-size: 30px;
  width: 15rem;
  text-transform: uppercase;
}
.Before_contact_div2 h1 {
  font-size: 70px;
  margin: 0;
}
.Before_contact_div2 div{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.Before_contact_div2 div img {
  width: 50px;
  padding-top: 30%;
  padding-left: 30%;
}
.barre {
  height: 30rem;

  width: auto;
}

/* Contact */

.Contact {
  display: flex;
  max-width: 150rem;
  width: 90%;
  margin: auto;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 15%;
}
.Contact__form {
  width: 50%;
}
.Contact__text {
  width: 50%;
  padding-left: 15%;
  color: var(--texte);
  text-transform: uppercase;
  letter-spacing: 5px;
}
.Contact__text img {
  width: 20px;
}
.Contact__text div {
  display: flex;
}
.Contact__text div p {
  font-size: 25px;
  margin-left: 2%;
  margin-right: 2%;
}
.Contact__form__content {
  display: flex;
  margin-bottom: 2%;
  color: var(--texte);
  font-size: 25px;
}
.Contact__form__content div {
  margin-left: 2%;
}
.Contact__form__content div input,
textarea {
  border: none;
  border-bottom: solid 1px #ff0068;
}
input:focus,
textarea:focus {
  outline: none;
}
textarea {
  width: 620px;
  height: 100px;
  resize: none;
}
/* Footer*/
footer {
  background-color: var(--texte);
  width: 100%;
  height: 50vh;
  text-align: right;
}
footer h2{
  color: white;
  font-size: 3rem;
}

footer img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
}
footer h2{
  width: 50%;
  margin: auto;
}